h1 {
    text-align: center;
    color: #89898C;
}

button {
    margin: 15px;
}

form {
    display: inline-block;
}

.error {
    color: #CB4E4C;
}

.success {
    color: #4C937E;
}

.hidden {
    display: none;
}

.visible {
    display: inline-block;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #2a4c5f;
}

.wrapper img {
    margin: auto;
    display: block;
}
