{% extends '_base.html' %}
{% block subtitle %}
<!-- modal -->
<div class="modal fade" id="modallogin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="fLogin">
                    <input class="form-control" type="email" name="correologin" id="correologin" required placeholder="Correo electrónico"/>
                    <br>
                    <input class="form-control" type="password" name="clavelogin" id="clavelogin" required placeholder="Clave de acceso"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btLogin">Login</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalregister" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="fRegister">
                    <input class="form-control" type="text" id="alias" placeholder="Nombre de usuario"/>
                    <br>
                    <input class="form-control" type="text" id="nombre" required placeholder="Nombre"/>
                    <br>
                    <input class="form-control" type="text" id="apellidos" required placeholder="Apellidos"/>
                    <br>
                    <input class="form-control" type="email" id="correo" required placeholder="Correo electrónico"/>
                    <br>
                    <input class="form-control" type="password" id="clave" required placeholder="Clave de acceso"/>
                    <br>
                    <input class="form-control" type="password" id="repiteclave" required placeholder="Repite clave de acceso"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" form="fRegister" class="btn btn-primary" id="btRegister">Registrar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal -->
<div class="col-lg-12">
    <div id="verBotonesLoginRegistro">
        <div class="text-center">
            <a id="btRegistro" href="#" data-toggle="modal" data-target="#modalregister" class="btn contact-submit" role="button">Registro</a>
        </div>
        <div class="text-center">
            <a id="btSesion" href="#" data-toggle="modal" data-target="#modallogin" class="btn contact-submit" role="button">Iniciar sesión</a>
        </div>
    </div>
    <div id="verListaDeValores">
        <div class="text-center">
            <a id="btLogout" href="#" class="btn contact-submit" role="button">Cerrar sesión <span id="infoUsuario"></span></a>
            <a id="btAvatar" href="#" class="btn contact-submit" role="button">Subir mi avatar<span id="infoUsuario"></span></a>
            <input type="file" name="avatar" id='avatar' class='hidden'/>
            <img src="" id='imagejs' width='100' height='100'></img>
            <img src="" id='imagephp' width='100' height='100'></img>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <a href="">id</a>
                    </th>
                    <th scope="col">
                        <a href="">nombre</a>
                    </th>
                    <th scope="col">
                        <a href="">código país</a>
                    </th>
                    <th scope="col">
                        <a href="">distrito</a>
                    </th>
                    <th scope="col">
                        <a href="">población</a>
                    </th>
                </tr>
            </thead>
            <tbody id="cuerpoTablaCiudades">
            </tbody>
        </table>
        <div id="pintarPaginas">
        </div>
    </div>
</div>
{%endblock%}